@import "tailwindcss";

@theme {
  /* 🌞 Светлая тема */
  --color-bg: #dfe1e4;
  --color-bg-secondary: #c0d5eb;
  --color-text: #11171e;
  --color-text-secondary: #34383e;
  --color-accent: #0EA5E9;
  --color-bg-span: #4bb9f8; /* 33% opacity */
  --color-text-span: #0369A1;
  --color-accent-alt: #2563EB;
  --color-error: #DC2626;
  --color-success: #16A34A;
  --color-warning: #D97706;
}

.dark {
  /* 🌙 Тёмная тема */
  --color-bg: #1E1E1E;
  --color-bg-secondary: #171A21;
  --color-text: #eff3f2;
  --color-text-secondary: #e3dede;
  --color-accent: #c9f0f4;
  --color-bg-span: #1272b6; /* 33% opacity */
  --color-text-span: #6bc5fa;
  --color-accent-alt: #3B82F6;
  --color-error: #EF4444;
  --color-success: #5C7E10;
  --color-warning: #F59E0B;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.custom-pagination .swiper-pagination-bullet {
  @apply bg-text-secondary opacity-50 w-5 h-2 rounded-xs transition-all duration-300;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-text opacity-100 w-6 h-2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
